<div class="col-md-offset-1 col-md-3">
    <div class="post-img">
        
    </div>
    
    <div class="mt10 recent">
        Learn more &rarr;
        <ul>
            <li>
                Join a Slack community
                There are many people online happy to help you with both Docker and Kubernetes. Here are two Slack communities where you can find help and answers you need.
                <img width="300px" src="{{site.baseurl}}/images/Slack_RGB.svg" alt="Slack">
                </li>
            <li >
                
                <img width="100px" src="{{site.baseurl}}/images/kube-icon.svg" alt="Kubernetes">
                <p>Kubernetes Community Slack  <a href="http://slack.kubernetes.io/">Register here</a></p>
                {% if page.img %}
                <img width="100px" src="{{site.baseurl}}/images/{{page.img}}" alt="{{page.title}}">
                {% else %}
                <img width="100px" src="{{site.baseurl}}/images/{{site.default-image}}" alt="Docker">
                {% endif %} <p>Docker Community Slack  <a href="https://community.docker.com/registrations/groups/4316">Register here</a></p>
            </li>
            <li>
                <a href="https://2018.dockercon.com/" target="_blank"><img src="{{site.baseulr}}/images/DCSF18_GGBridge_Long_Dark_SF.png"></a>
                <p>Want to learn more? Join us for <a href="https://2018.dockercon.com/" target="_blank">DockerCon 2018 in San Francisco</a></p>
            </li>
        </ul>
    </div>
    
</div>
