<div class="col-md-offset-1 col-md-3" width="500px">
    <div class="post-img">
        
    </div>
    
    <div class="mt10 recent">
        Learn more &rarr;
        <ul>
            <li >
                Join a Slack community
                <img width="200px" src="{{site.baseurl}}/images/kube-icon.svg" alt="Kubernetes">
                <p>Kubernetes Community Slack  <a href="http://slack.kubernetes.io/">Register here</a></p>
                {% if page.img %}
                <img width="200px" src="{{site.baseurl}}/images/{{page.img}}" alt="{{page.title}}">
                {% else %}
                <img width="200px" src="{{site.baseurl}}/images/{{site.default-image}}" alt="Docker">
                {% endif %} <p>Docker Community Slack  <a href="https://community.docker.com/registrations/groups/4316">Register here</a></p>
            </li>
        </ul>
    </div>
    
</div>
